* {
    margin: 0;
    padding: 0;
    cursor: url(https://cur.cursors-4u.net/cursors/cur-10/cur970.cur), auto !important;
    
}
body{
    font-family: 'Montserrat', sans-serif;
    cursor: url(https://cur.cursors-4u.net/cursors/cur-10/cur970.cur), auto !important;
    
}

section {
    
    background-color: white;
    width: 100%;
    
}

.logo {
    height: 80px;
    margin: 20px;
}

.hero {
    background-color: white;
    /*height: 100vh;*/
    color: black;
    font-size: 30px;
}
footer{
    width: 100%;
    
    background-color: #d1e2ce;
    color: black;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 80px;
}

nav{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    margin-top: 15px;
    
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 27px;
    
}
ul.show{
    display: block;
}
.projects{
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (max-width: 1000px){
    .projects{
        display: flex;
        flex-wrap: wrap;
    }
}

li{
    /*float: right;
    width: 200px;*/
    text-decoration: none;
    
}
.cv{
    /*float: right;
    width: 200px;*/
    text-decoration: none;
    color:white;
    
}

h1 {
    font-size: 90px;
    margin: 0;
}
.h1text{
    /*display: flex;*/
    /*padding-top: 30%;*/
    margin-left: 60px;
    margin-bottom: 120px;
}
.button{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    padding-top: 10px;
    background-color: #b56576;
    font-weight: 500;
    margin-top: 20px;
     
}
.button2{
    width: 200px;
    height: 20px;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    /*background-color: #a3a3a3;*/
    /*background-color: #809b7b;*/
    background-color: #869c82;
    
    font-weight: 500;
    transition: all 0.2s ease;
    padding: 10px 20px;
    animation: cv-load 700ms ;
     
}
@keyframes cv-load {
        0% {
            transform: translateX(-300%);
        }
        100% {
            transform: translateX(0);
            
        }
 }
a {
    text-decoration: none;
    color: inherit;
  }
.button2:hover{
    /*background-color: #b56576;*/
    background-color: #a5bba1;
    padding: 12px 22px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.button:hover{
    background-color: #b56576;
}

.button:active{
    background-color: #e56b6f;
}
hr{
    border-color: #b56576;
}
.text-area{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
p{ 
    font-size: 20px
}
.subsection{
 display: flex;
 justify-content: space-evenly;

 padding-top: 60px;
 width: 100vw;
 padding-top: 100px;
 padding-bottom: 100px;
}
.aboutme {
    width: 35%;
    margin-right: 0px;
    margin-top: 50px;
    animation: text-load 600ms;
}
@keyframes text-load {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
        
    }
}
h2{
    font-size: 50px;
}
.headshot{
    height: 300px;
}
.photo{
    margin-top: 10px;
}

.project-card{
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 320px;
    border-radius: 33px;
    /*box-shadow: #8d4f5c 5px 5px 20px;*/
    box-shadow:  25px 25px 50px #e0e0e0,
             -25px -25px 50px #ffffff;
    align-content: center;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
}
.project-card:hover{
    /*box-shadow: #e56b6f 5px 5px 20px;*/
    
    /*box-shadow:  25px 25px 50px #879b82,
             -25px -25px 50px #ffffff;*/
             box-shadow:  25px 25px 70px #b1b1b1,
             -25px -25px 70px #ffffff;
    
}
.project-card:hover .project-image{
    animation: floating 2s infinite;
    animation-timing-function: ease-in-out;
    
}
.projects{
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 40px;
    
    padding-bottom: 40px;
}
.skills {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #d1e2ce;
    
}

.subsection2{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.subtext{
    font-size: 15px;
    font-weight: 300;

}
.project-image{
    align-self: center;
    margin-top: 25px;
    width: 170px;
    height: 120px;
    border-radius: 30px;

}
.project-link{
    text-decoration: none;
    color: #355070;
    font-weight: 700;
    
}
.navlinks{
    text-decoration: none;
    color: black;
}
.navlinks:hover{
    color: #eaac8b;
}

.hamburger{
    display: none;
}


.custom-shape-divider-top-1684623242 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.wavesec{
    background-color: #25374e;
    position: relative;
}


.shapedividers_com-266{
    overflow:hidden;
    position:relative;
    }
    .shapedividers_com-266::before{ 
    content:'';
    font-family:'shape divider from ShapeDividers.com';
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw; 
    background-size: 126% 110px;
    background-position: 50% 0%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" fill="%23ffffff"/></svg>'); 
    }
    
    @media (min-width:2100px){
    .shapedividers_com-266::before{
    background-size: 126% calc(2vw + 110px);
    }
    }

    .shapedividers_com-9951{
        overflow:hidden;
        position:relative;
        }
        .shapedividers_com-9951::before{ 
        content:'';
        font-family:'shape divider from ShapeDividers.com';
        position: absolute;
        z-index: 3;
        pointer-events: none;
        background-repeat: no-repeat;
        bottom: -0.1vw;
        left: -0.1vw;
        right: -0.1vw;
        top: -0.1vw; 
        background-size: 126% 110px;
        background-position: 50% 0%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" fill="%23d1e2ce"/></svg>'); 
        }
        
        @media (min-width:2100px){
        .shapedividers_com-9951::before{
        background-size: 126% calc(2vw + 110px);
        }
        }
         

         
     
 

    /*..overlay-text {
        display: flex;
        width: 200px;
        height: 100px;
        border: 1px solid #ccc;
      }*/
  
      .typewrite {
        display: flex;
        bottom: 0;
        font-size: 55px;
        opacity: 0.5;
        font-weight: bold;
        transform: scaleY(1.3);
        margin-top: 10px;
        color: #ADC5A9;
        /*color: #b9b9b9;*/
      }
      @media only screen and (max-width: 1000px){
        
        .wrap {
            font-size: 25px;
        }
        
    }
      .bottom-text {
        display: flex;
        bottom: 0;
        font-size: 55px;
        opacity: 0.5;
        color: #ADC5A9;
        font-weight: bold;
        transform: scaleY(1.3);
        margin-top: 10px;
      }
  
      .top-text {
        display: flex;
        bottom: 0;
        font-size: 30px;
        font-weight: bold;
        opacity: 0.8;
      }
      .my-desc {
        font-size: 16px;
      }
      .ima {
        font-size: 15px;
      }
      .top2 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70vh;
        
      }
      .top {
        height: 100vh;
      }
      .skill-data{
          margin-top: 120px;
          height: 40vh;
          /*animation: floating 2s ease-in-out infinite;*/
          
      }
      .sec-title{
        font-size: 24px;
        font-weight: bold;
        color: black;
        font-family: inherit;
        opacity: 0.8;
        
      }

      .xx {
        display: inline;
        margin: 0;
      }

      /*------------*/
      .bli {
        font-size: 18px;
        color: gray;
        font-family: inherit;
        font-weight: 800;
        cursor: pointer;
        position: relative;
        border: none;
        background: none;
        text-transform: uppercase;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: color;
      }
      
      .bli:focus,
      .bli:hover {
        color: black;
      }
      
      .bli:focus:after,
      .bli:hover:after {
        width: 100%;
        left: 0%;
      }
      
      .bli:after {
        content: "";
        pointer-events: none;
        bottom: -2px;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: black;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left;
      }


      .container {
        display: grid;
        place-items: center;
        padding-top: 50px;
        margin-top: 0px;
        padding-top: 0px;
        animation: pic-load 600ms;
        
        
    }
    @keyframes pic-load {
        0% {
            transform: translateY(50%);
        }
        100% {
            transform: translateY(0);
            
        }
    }
    @keyframes floating {
        0% {
          transform: translate(0, 0);
        }
        50% {
          transform: translate(0, -5px);
        }
        100% {
          transform: translate(0, 0);
        }
      }
      @keyframes floatingx {
        0% {
          transform: translateY(0, 0);
        }
        33.3% {
          transform: translateY(-5px);
        }
        66.6% {
            transform: translateY(0);
        }
        100% {
          transform: translateY(5px);
        }
      }

    #anchor {
        height: 400px;
        width: auto;
    }
    #eyes, #eyes img {
        position:absolute;
        height: 21px;
    }


    /*
<div class="photo">
           <img class="headshot" src="photo2.png" alt="photo">
       </div>
*/
.icons {
    padding-top: 60px;
    padding-bottom: 100px;

    
}

.htmli {
    font-size: 3rem;
    transition: font-size 0.3s ease;
    margin: 1rem;
    padding: 10px;
    
}
.htmli:hover{
    /*color: #353b34;*/
    opacity: 1;
    color: #3c473a;
    
}
.contacti {
    height: 3rem;
    width: auto;
}
.contact-row{
    margin: 1rem;
}
.con {
    color: black;
    font-size: 2rem;
}
.con:hover{
    color: #3c473a;
 
}
.email:hover{
    color: #3c473a;
}
.hiddenl {
    opacity: 0;
    filter: blur(5px);
    transform: translate(-100%);
    transition: all 2s;
}

.showl {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}
.hiddenr {
    opacity: 0;
    filter: blur(5px);
    transform: translate(100%);
    transition: all 2s;
}

.showr {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}


/*projects*/
.projects-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 40px;
    
    padding-bottom: 40px;
}
.project-card-new{
    display: flex;
    flex-direction: row;
    width: 820px;
    height: 120px;
    
    /*box-shadow: #8d4f5c 5px 5px 20px;*/
    /*box-shadow:  10px 10px 20px #e0e0e0,
             -10px -10px 20px #ffffff;*/
    align-content: center;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    
}
.project-card-new:hover{
    box-shadow:  10px 10px 20px #e0e0e0,
             -10px -10px 20px #ffffff;
    transition: 0.5s;
}

.project-card-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 820px;
    height: 120px;
    border-radius: 23px;
    /*box-shadow: #8d4f5c 5px 5px 20px;*/
    
    align-content: center;
    margin: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
.project-image-new{
    align-self: center;
    width: 150px;
    height: 120px;
    border-radius: 15px 0 0 15px;
    opacity: 0.8;
    
}

.languages {
    display: flex;
    
    flex-wrap: wrap;
    flex-direction: row;
    text-align: left;
    margin-top: auto;
    margin-bottom: 25px;
}
.lang {
    border: #546e4f solid 1px;
    font-weight: bold;
    font-size: 10px;
    /*color: #546e4f ;*/
    color: #6e8b69;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
.subtext2 {
    font-size: 14px;
    margin-top: 4px;
}
.livedemo {
    border: #546e4f solid 1px;
    font-weight: bold;
    font-size: 10px;
    color: white ;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding: 7px;
    margin-right: 5px;
    margin-left: 5px;
    background-color:#546e4f ;
    animation: floating 2s infinite;
    animation-timing-function: ease-in-out;
}
.livedemo:hover{
    background-color:#6e8b69 ;
}
.project-title:hover{
    
    color: #926060;
}
.message{
   font-size: 15px;
   margin-bottom: 10px;
}
.github {
   font-size: 35px;
   margin-bottom: 50px;
}
.github:hover{
    color: #6e8b69; 
    opacity: 0.8;
    
}

@media only screen and (max-width: 1000px){
    .hamburger{
        border: 0;
        background-color: transparent;
        display: block;
        color: gray;
        font-size: 40px;
        margin-right: 20px;
        margin-top: 30px;
        margin-bottom: 40px;
        padding-right: 20px;
        
    }
    ul{ 
    display: none;
    
    }
    .photo{
        display: none;
    }
    .aboutme {
        width: 70%;
    }
    .htmli {
        font-size: 5vw;
        margin: 0.4rem;
    
    }
    .project-image-new{
        display: none;
    }
    .project-card-new{
        width: 80vw;

    }
    @media only screen and (max-width: 600px){
        .htmli {
            font-size: 7vw;
            margin: 0.4rem;
        
        }
    }

    
    
    
}
